html, body {
  font-family: sans-serif;
}

h1.header {
  font-weight: bold;
  font-size: 75px;
  padding-top: 35px;
  color: #333;
  text-align: center;
}
h1.header a {
  color: #333;
  text-decoration: none;
}
h1.header a:hover {
  text-decoration: underline;
}

.navbar { border-top: 1px solid #4a4a4a; }
.navbar-brand { font-size: 1rem; }

.intro-text {
  text-align: center;
}

a, a:hover, a:visited {
  color: #0000FF;
  display: inline-block;
}
a.btn {
  color: white;
}

@media screen and (max-width: 600px)  {
  h1.header {
    font-weight: bold;
    font-size: 45px;
    padding-top: 35px;
    color: #333;
  }
}
